anytree
apscheduler
git+https://github.com/musatbusat/amriac2mp
bencoding
beautifulsoup4
cfscrape
cryptg
dnspython
feedparser
flask==2.0.3
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
git+https://github.com/zevtyardt/lk21.git
lxml
pillow
psutil
pybase64
pymongo
pyrogram
python-dotenv
python-magic
git+https://github.com/musatbusat/qmbittomrrent-ampi
requests
git+https://github.com/musatbusat/speemdtemst-cmli
telegraph
tenacity
tgCrypto
xattr
git+https://github.com/musatbusat/ymt-dmlp

